<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
    <script>
        function edit() {
            alert("Você clicou em editar");
        }
        async function carregarTabela(){
            const resp = await fetch("/api/user");
            const json = await resp.json();
            /*
                json = [
                    {
                        "id":"123456",
                        "name": "Cássio",
                        "password": "123456",
                        "email": "cassio@test.com"
                    },
                    {
                        "id":"123456",
                        "name": "Cássio",
                        "password": "123456",
                        "email": "cassio@test.com"
                    }
                ];
            */
            const lista = document.getElementById('lista');
            lista.innerHTML = "";
            json.forEach(function(element){
                lista.innerHTML +=  `
                    <tr>
                        <td>${element.id}</td>
                        <td>${element.name}</td>
                        <td>${element.password}</td>
                        <td>${element.email}</td>
                    </tr>
                `;
            });
        }
        window.addEventListener('DOMContentLoaded', carregarTabela);
    </script>
    <style>
        .formulario {
            background-color: green;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    </style>
</head>
<body>
    <form class="formulario" method="POST" action="/api/user">
        <input placeholder="Nome" name="name" required />
        <input placeholder="E-mail" name="email" required type="email" />
        <input placeholder="Senha" type="password" name="password" required />
        <button>Salvar</button>
    </form>
    <p>
        <h3>Lista de usuário</h3>
    </p>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Password</th>
                <th>email</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody id="lista">
            
        </tbody>
    </table>
</body>
</html>