<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
    <script src="./main.js"></script>
    <link rel="stylesheet" href="./style.css" />
</head>
<body>
    <form class="formulario" id="formulario" method="POST" action="/api/user">
        <input placeholder="Nome" name="name" required />
        <input placeholder="E-mail" name="email" required type="email" />
        <input placeholder="Senha" type="password" name="password" required id="password" />
        <input placeholder="Confirmar Senha" type="password" required id="confirmpassword" />
        <button>Salvar</button>
    </form>
    <p>
        <h3>Lista de usuário</h3>
    </p>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Password</th>
                <th>email</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody id="lista">
            
        </tbody>
    </table>
</body>
</html>