<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
    <script src="./index.js"></script>
    <link rel="stylesheet" href="./style.css" />
</head>
<body>
    <div class="menu">
        <a href="/">Lista</a>
        <a href="/cadastro.html">Novo</a>
    </div>
    <p>
        <h3>Lista de usuário</h3>
    </p>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Password</th>
                <th>email</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody id="lista">
            
        </tbody>
    </table>
</body>
</html>