.formulario {
    background-color: green;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h3 {
    color: red;
}

@media print {
    .formulario {
        background-color: red;
    }
}

.menu {
    background-color: black;
    display: flex;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
}